.top_header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(149, 125, 126); /* From color picker in Windows Paint */
    text-align: center;
}

.bottom_footer {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(222, 188, 185);
    text-align: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    grid-gap: 1em;
}

.sidebar {
    background-color: rgb(192, 192, 192);
    grid-row-start: 2;
    grid-row-end: 5;
}

article {
    background-color: rgb(235, 231, 231);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}

.button {
    border: none;   /* We do not want the outline */
    border-radius: 1em;
    font-size: 1em;
    color: white;   /* Buttons have white text on them */
    padding: 15px 10px 15px 10px;
    margin: 0.5em;
}

.new_note {
    background-color: rgb(94, 151, 124);
} 

.dark_theme {
    background-color: rgb(105, 105, 105);
    float: right;   /* Display on top right hand corner */
}

.bottom_spacing {
    padding: 1em
}